<% title 'Admin' %>
<div class="container">
  <div class="row">
    <div class="main-content wide">
      <div class="pane">
        <h1>Admin</h1>
        <% if user_admin? %>
          <ul class="list-inline">
            <li><%= link_to "Hantera anv채ndare", users_path %></li>
            <li><%= link_to "Se nyheter", news_index_path %></li>
            <li><%= link_to "Redigera sidor", pages_path %></li>
            <li><%= link_to "Alla drycker", drinks_path %></li>
            <li><%= link_to "Dryckestyper", stock_index_path %></li>
            <li><%= link_to "Dokument", documents_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="infobar">
    <div class="card">
      <div class="pane">
        <h3 class="fat">
          <%= @in_stock %> drycker
        </h3>
        <p class="text-center">
          i lager just nu
        </p>
        <p class="text-center">
          <%= link_to 'Alla drycker', drinks_path %>,
          <%= link_to('ny dryck', new_drink_path) + ', ' if can?(:create, Drink) %>
          <%= link_to('dryckestyper', stock_index_path) + ', ' %>
          <%= link_to('ny dryckestyp', new_drink_type_path) if can?(:create, DrinkType) %>
        </p>
      </div>
    </div>

    <% if user_admin? %>
    <div class="card">
      <div class="pane">
        <h3 class="fat">
          <%= pluralize @unconfirmed_bookings, 'bokning', 'bokningar' %>
        </h3>
        <p class="text-center">
          har 채nnu inte bekr채ftats
        </p>
        <p class="text-center">
          <%= link_to 'Visa bokningar', bookings_path(anchor: 'bookings') %>,
          <%= link_to 'ny bokning', new_booking_path %>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="pane">
        <h3 class="fat">
          <%= (DateTime.now - @latest_news.created_at.to_datetime).to_i if @latest_news.present? %> dagar
        </h3>
        <p class="text-center">
          sedan senaste nyhetsinl채gget
        </p>
        <p class="text-center">
          <%= link_to 'Alla nyheter', news_index_path %>,
          <%= link_to 'ny nyhet', new_news_path %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
