<% body_class 'home' %>
<section id="big-img" class="background-<%= rand(6) %>">
  <%= image_tag("/images/wall.png", alt: 'Pub Vattentornet', class: 'wall-logo') %>
</section>
<div class="container">
  <div class="infobar">
    <div class="pane">
      <h3>
        Pub <em>[pub']</em>
      </h3>
      <h4>
        &mdash; bar med ölservering
      </h4>
      <p>
        Pub Vattentornet är Norrköpings äldsta studentpub. Sedan 2002 serverar vi
        finöl till studentpriser.
      </p>
    </div>
    <div class="pane">
      <h3>Följ oss!</h3>
      <div class="fb-like-box" data-href="https://www.facebook.com/Pub.Vattentornet" data-colorscheme="dark" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    <div class="pane">
      <h3>Stundens öl</h3>
      <% if @beer_of_the_moment.present? %>
        <p>
          <%= @beer_of_the_moment.name %>, <%= @beer_of_the_moment.DrinkType.name %> från <%= @beer_of_the_moment.country %>.
          <%= link_to("Mer information", @beer_of_the_moment) %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="main-content">
        <% @latest_post.each do |single_post| %>
        <div class="pane">
        <h3><%= single_post.title %></h3>
        <h5>Skapad <%= distance_of_time_in_words_to_now(Time.zone.parse(single_post.created_at.strftime("%Y-%m-%d %H:%M"))) %> av <%= User.find(single_post.user_id).name %></h5>
        <div class="page-content">
          <p><%= single_post.body %></p>
        </div>
       </div>
        <% end %>
        <div class="pane">
         <%= will_paginate @latest_post %>
        </div>
        </div>
     
    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</div>
