<% body_class 'home' %>
<section id="big-img" class="background-<%= rand(9) %>">
  <%= image_tag("/images/wall.png", alt: 'Pub Vattentornet', class: 'wall-logo') %>
</section>
<div class="container">
  <div class="infobar">
    <div class="card">
      <div class="pane">
        <h3>
          Pub <em>[pub']</em>
        </h3>
        <h4>
          &mdash; bar med ölservering
        </h4>
        <p>
          Pub Vattentornet är Norrköpings äldsta studentpub. Sedan 2002 serverar vi
          finöl till studentpriser.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="pane">
        <h3>Följ oss!</h3>
        <div class="fb-like-box" data-href="https://www.facebook.com/Pub.Vattentornet" data-colorscheme="dark" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    </div>
    <div class="card">
      <div class="pane">
        <h3>Stundens dryck</h3>
        <% if @botm.present? %>
          <p>
            <%= @botm.name %>, <%= @botm.drink_type.name %> från <%= @botm.country %>.
            <%= link_to("Mer information", stock_drink_path(@botm.drink_type, @botm)) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="main-content">
      <% @latest_post.each do |single_post| %>
        <div class="pane">
          <h3><%= link_to single_post.title, public_news_path(single_post) %></h3>
          <h5>
            <%= l single_post.created_at, format: (single_post.created_at < 2.days.ago ? '%e %B %Y' : :long) %>
            <%= "av #{single_post.user.name}" if single_post.user %>
          </h5>
          <div class="page-content news-content">
            <%= GitHub::Markdown.render_gfm(single_post.body).html_safe %>
          </div>
        </div>
      <% end %>
      <% if (@latest_post.total_pages > 1) %>
        <div class="pane">
          <% if @latest_post.total_pages == @latest_post.current_page %>
            <%= will_paginate @latest_post, :next_label => '' %>
          <% else %>
            <%= will_paginate @latest_post %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</div>
