<% body_class 'home' %>
<section id="big-img" class="background-<%= rand(6) %>">
  <%= image_tag("/images/wall.png", alt: 'Pub Vattentornet', class: 'wall-logo') %>
</section>

<div class="container">
  <div class="infobar">
    <div class="pane">
      <h3>
        Pub <em>[pub']</em>
      </h3>
      <h4>
        &mdash; bar med ölservering
      </h4>
      <p>
        Pub Vattentornet är Norrköpings äldsta studentpub. Sedan 2002 serverar vi
        finöl till studentpriser.
      </p>
    </div>
    <div class="pane">
      <h3>Facebook</h3>
    </div>
    <div class="pane">
      <h3>Stundens öl</h3>
      <% if @botm.present? %>
        <p>
          <%= @botm.name %>, <%= @botm.drink_type.name %> från <%= @botm.country %>.
          <%= link_to("Mer information", stock_drink_path(@botm.drink_type, @botm)) %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="main-content">

    </div>
    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</div>
