<h1>Drycker</h1>

<table>
  <thead>
    <tr>
      <th>Namn</th>
      <th>Bryggeri</th>
      <th>Land</th>
      <th>Procentsats</th>
      <th>Pris</th>
      <th>Typ av dryck</th>
      <th>Beskrivning</th>
      <th>I lager</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.name %></td>
        <td><%= drink.brewery %></td>
        <td><%= drink.country %></td>
        <td><%= drink.percentage %></td>
        <td><%= drink.price %></td>
        <td><%= drink.DrinkType.name %></td>
        <td><%= drink.description %></td>
        <td><%= drink.instock %></td>
        <td><%= link_to 'Visa', drink %></td>
        <td><%= link_to 'Redigera', edit_drink_path(drink) %></td>
        <td><%= link_to 'Ta bort', drink, method: :delete, data: { confirm: 'Är du säker på att du vill ta bort denna dryck?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny dryck', new_drink_path %>
