<p id="notice"><%= notice %></p>

<p>
  <strong>Namn:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong>Bryggeri:</strong>
  <%= @drink.brewery %>
</p>

<p>
  <strong>Land:</strong>
  <%= @drink.country %>
</p>

<p>
  <strong>Procentsats:</strong>
  <%= @drink.percentage %>
</p>

<p>
  <strong>Pris:</strong>
  <%= @drink.price %>
</p>

<p>
  <strong>Typ av dryck:</strong>
  <%= @drink.DrinkType %>
</p>

<p>
  <strong>Beskrivning:</strong>
  <%= @drink.description %>
</p>

<p>
  <strong>I lager:</strong>
  <%= @drink.instock %>
</p>

<%= link_to 'Redigera', edit_drink_path(@drink) %> |
<%= link_to 'Tillbaka', drinks_path %>
