<div class="container">
  <div class="form-content">
    <%= form_for @booking, :html=>{'ng-app' => 'booking-form'} do |f| %>
      <div class="main-content main-form booking-new">
        <div class="pane">
          <h3 class="fat">Ändra bokning</h3>
          <p id="notice"><%= notice %></p>

          <div class="row">
            <div class="col-sm-5">
              <%= f.label "Mail" %><br>
              <%= f.text_field :email, value: @booking.email%>
            </div>
            <div class="col-sm-4">
              <%= f.label "Datum" %><br>
              <%= f.date_field :date, :order => [:day, :month, :year], :value => @booking.date%>
            </div>
            <div class="col-sm-3">
              <%= f.label "Boka puben?" %><br>
              <%= f.check_box :pub, :disabled => true, :checked => @booking.pub %> Ja!
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.label "Beskrivning" %><br>
              <%= f.text_area :description, rows: 4, value: @booking.description%>
            </div>
          </div>
          <div id="adminBooking" ng-controller="AdminBookingsCtrl" >
              <div class="row">
                <div class="col-sm-3">
                  <% if @booking.user && @booking.user.name %>
                    <%= f.label "Bekräftad av " + @booking.user.name %><br>
                  <% else %>
                    <%= f.label "Bekräftad" %><br>
                  <% end %>
                  <input type="checkbox" checked="<%= @booking.confirmed %>">
                </div>
                <div class="col-sm-3">
                  <%= f.label "Publik" %><br>
                  <%= f.check_box :public, :disabled => true, :value => @booking.public %>
                </div>
              </div>
            </div>
          <%= link_to 'Visa bokning', @booking %> |
          <%= link_to 'Visa kalender', bookings_path %>
        </div>
      </div>
      <div class="sidebar sidebar-form booking-sidebar">
        <div class="pane">
          <h3 class="fat">Redigera</h3>
          <p>
              <%= f.submit "Uppdatera bokning!" %>
          </p>
          <p>
            <%= link_to 'Ta bort', @booking, method: :delete, data: { confirm: 'Är du säker?' } %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
