<div class="container">
  <div id="calendar" class="row" ng-controller="CalendarCtrl">
    <div class="calendarbar">
      <div class="pane">
        <div class="controls">
          <a class="calendar-tool" ng-click="changeMonth(-1)">
            <%= icon 'arrow-left', '', class: 'fa-2x' %>
          </a>
          <h2>{{ month.format("MMMM") }}</h2>
          <a class="calendar-tool" ng-click="changeMonth(1)">
            <%= icon 'arrow-right', '', class: 'fa-2x' %>
          </a>
        </div>
      </div>
      <div class="new-booking">
        <%= link_to 'Ny bokning', new_booking_path %>
      </div>
    </div>
    <div ng-class="{ 'offset-{{day.weekday}}' : day.day == 1, 'booking-confirmed' : day.confirmed, 'weekday' : day.day != 1}" ng-repeat="day in days">
      <h3>{{ day.day }}</h3>
      <h3 ng-if="day.confirmed && !day.public">Bokat</h3>
      <h3 ng-if="day.confirmed && day.public">Pub</h3>
    </div>
  </div>

  <% if user_signed_in_and_admin? %>
    <div class="row">
      <div class="main-content wide">
        <div class="admin-bookings pane">
          <% if !@bookings.empty? %>
            <h3 class="fat">Bokningar</h3>
          <% end %>
          <% if !@bookings_pending.empty? %>
            <table>
              <h6 class="fat">Obekräftade</h6>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Email</th>
                  <th>Pub</th>
                  <th>Confirmed</th>
                  <th>User</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @bookings_pending.each do |booking| %>
                  <tr>
                    <td><%= booking.date %></td>
                    <td><%= booking.description %></td>
                    <td><%= booking.email %></td>
                    <td><%= booking.pub %></td>
                    <td><%= booking.confirmed %></td>
                    <td><%= booking.user %></td>
                    <td><%= link_to 'Show', booking %></td>
                    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
                    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>

          <% if !@bookings_approved.empty? %>
            <table>
              <h6 class="fat">Bekräftade</h6>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Email</th>
                  <th>Pub</th>
                  <th>Confirmed</th>
                  <th>User</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @bookings_approved.each do |booking| %>
                  <tr>
                    <td><%= booking.date %></td>
                    <td><%= booking.description %></td>
                    <td><%= booking.email %></td>
                    <td><%= booking.pub %></td>
                    <td><%= booking.confirmed %></td>
                    <td><%= booking.user %></td>
                    <td><%= link_to 'Show', booking %></td>
                    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
                    <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <% if @bookings.empty? %>
            <h4 class="fat">Inga bokningar</h4>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
