<div class="container" ng-app="calendar">
  <div class="row">
    <div class="text-right">
      <%= link_to 'New Booking', new_booking_path %>
    </div>
  </div>
  <div id="calendar" class="row" ng-controller="calendarController">
  <div class="row">
    <button class="button" ng-click="changeMonth(-1)">bakåt</button>
    <button class="button" ng-click="changeMonth(1)">framåt</button>
  </div>
    <div ng-class="day.day == 1 ? 'offset-{{day.weekday}}' : 'weekday'" ng-repeat="day in days">
      <h3>{{ day.day }}</h3>
      <h1 ng-if="day.confirmed">BAJS</h1>
    </div>
  </div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Email</th>
          <th>Pub</th>
          <th>Confirmed</th>
          <th>User</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.date %></td>
            <td><%= booking.description %></td>
            <td><%= booking.email %></td>
            <td><%= booking.pub %></td>
            <td><%= booking.confirmed %></td>
            <td><%= booking.user %></td>
            <td><%= link_to 'Show', booking %></td>
            <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
            <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
