<div class="container">
  <div id="calendar" class="row" ng-controller="CalendarCtrl">
    <div class="calendarbar">
      <div class="pane">
        <div class="controls">
          <a class="calendar-tool" ng-click="changeMonth(-1)">
            <%= icon 'arrow-left', '', class: 'fa-2x' %>
          </a>
          <h2>{{ month.format("MMMM") }}</h2>
          <a class="calendar-tool" ng-click="changeMonth(1)">
            <%= icon 'arrow-right', '', class: 'fa-2x' %>
          </a>
        </div>
      </div>
      <div class="new-booking">
        <%= link_to 'Ny bokning', new_booking_path %>
      </div>
    </div>
    <div ng-class="{ 'offset-{{day.weekday}}' : day.day == 1, 'booking-confirmed' : day.confirmed, 'weekday' : day.day != 1}" ng-repeat="day in days">
      <% if user_signed_in_and_admin? %>
        <a ng-if="day.confirmed" href="{{day.url}}">
          <h3>{{ day.day }}</h3>
          <h3 ng-if="day.confirmed && !day.public">Bokat</h3>
          <h3 ng-if="day.confirmed && day.public">Pub</h3>
        </a>
        <span ng-if="!day.confirmed">
          <h3>{{ day.day }}</h3>
          <h3 ng-if="day.confirmed && !day.public">Bokat</h3>
          <h3 ng-if="day.confirmed && day.public">Pub</h3>
        </span>
      <% else %>
        <h3>{{ day.day }}</h3>
        <h3 ng-if="day.confirmed && !day.public">Bokat</h3>
        <h3 ng-if="day.confirmed && day.public">Pub</h3>
      <% end %>
    </div>
  </div>

  <% if user_signed_in_and_admin? %>
    <div class="row">
      <div class="main-content wide">
        <div class="admin-bookings pane">
          <h3 class="fat">
            Bokningar
            <small>
              <%= link_to 'Visa alla', all_bookings_path %>
            </small>
          </h3>
          <% if @bookings_pending.any? %>
            <h6 class="fat">Obekr채ftade</h6>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th class="hidden-xs">Beskrivning</th>
                  <th>Namn</th>
                  <th class="hidden-xs">Email</th>
                  <th class="hidden-xs">Pub</th>
                  <th colspan="2"></th>
                </tr>
              </thead>

              <tbody>
                <% @bookings_pending.each do |booking| %>
                  <tr>
                    <td><%= booking.date %></td>
                    <td class="hidden-xs">
                      <%= booking.description[0, 20] %>
                      <% if booking.description.size > 20 %>
                        ...
                      <% end %>
                    </td>
                    <td ><%= booking.name %></td>
                    <td class="hidden-xs"><%= booking.email %></td>
                    <td class="hidden-xs"><%= booking.pub ? "Ja" : "Nej" %></td>
                    <td><%= link_to 'Visa', booking_path(booking) %></td>
                    <td class="hidden-xs"><%= link_to 'Bekr채fta', confirm_booking_path(booking) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>

          <% if @bookings_approved.any? %>
            <h6 class="fat">Bekr채ftade</h6>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th class="hidden-xs">Beskrivning</th>
                  <th>Namn</th>
                  <th class="hidden-xs">Email</th>
                  <th class="hidden-xs">Lgh.nr</th>
                  <th class="hidden-xs">Pub</th>
                  <th class="hidden-xs">Bekr채ftad av</th>
                  <th colspan="1"></th>
                </tr>
              </thead>

              <tbody>
                <% @bookings_approved.each do |booking| %>
                  <tr>
                    <td><%= booking.date %></td>
                    <td class="hidden-xs">
                      <%= booking.description[0, 20] %>
                      <% if booking.description.size > 20 %>
                        ...
                      <% end %>
                    </td>
                    <td><%= booking.name %></td>
                    <td class="hidden-xs"><%= booking.email %></td>
                    <td class="hidden-xs"><%= booking.apartment %></td>
                    <td class="hidden-xs"><%= booking.pub ? "Ja" : "Nej" %></td>
                    <td class="hidden-xs">
                      <% if booking.user && booking.user.name %>
                        <%= booking.user.name %>
                      <% else %>
                        ej tillg.
                      <% end %>
                    </td>
                    <td><%= link_to 'Visa', booking_path(booking) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

