<div class="container">
  <div class="form-content">
    <p id="notice"><%= notice %></p>
    <div class="main-content main-form booking-new">
      <div class="pane">
        <h3 class="fat">Visa bokning</h3>
        <div class="row">
          <div class="col-sm-4">
            Mail<br>
            <input type="text" value="<%= @booking.email %>" disabled="true" >
          </div>
          <div class="col-sm-4">
            Ditt namn<br>
            <input type="text" value="<%= @booking.name %>" disabled="true" >
          </div>
          <div class="col-sm-4">
            Lägenhetsnummer<br>
            <input type="text" value="<%= @booking.apartment %>" disabled="true" >
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            Datum<br>
            <input type="date" order="day month year" value="<%= @booking.date %>" disabled="true">
          </div>
          <div class="col-sm-6">
            Boka puben?<br>
            <input type="checkbox" disabled="true" value="<%= @booking.pub %>"> Ja!
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            Beskrivning <br>
            <textarea rows="4" disabled="true"><%= @booking.description %></textarea>
          </div>
        </div>
        <div id="adminBooking" ng-controller="AdminBookingsCtrl" >
          <div class="row">
            <div class="col-sm-6">
              <% if @booking.user && @booking.user.name %>
                <%= "Bekräftad av #{@booking.user.name}" %><br>
              <% else %>
                <%= "Bekräftad" %><br>
              <% end %>
              <input type="checkbox" checked="<%= @booking.confirmed %>" disabled="true">
            </div>
            <div class="col-sm-6">
              <%= "Publik" %><br>
              <input type="checkbox" disabled="true" value="<%= @booking.public %>">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar sidebar-form booking-sidebar">
      <div class="pane">
        <h3 class="fat">Redigera</h3>
        <p>
          <% if !@booking.confirmed %>
              <button><%= link_to 'Bekräfta', confirm_booking_path(@booking) %></button>
          <% else %>
              <button><%= link_to 'Obekräfta', confirm_booking_path(@booking) %></button>
          <% end %>
        </p>
        <p>
          <%= link_to 'Redigera', edit_booking_path(@booking) %> |
          <%= link_to 'Ta bort', @booking, method: :delete, data: { confirm: 'Är du säker?' } %>
        </p>
      </div>
    </div>
  </div>
</div>

