<h2>Redigera <%= @user.name %></h2>

<%= form_for(@user, as: @user, url: user_path(@user), html: { method: :put }) do |f| %>

  <div>
    <%= f.label :name, "Namn" %><br/>
    <%= f.text_field :name %>
  </div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div>
    <%= f.label :admin %><br/>
    <%= f.check_box :admin %>
  </div>

  <div><%= f.submit "Update" %></div>
<% end %>


<h3>Ta bort konto</h3>

<p><%= button_to "Ta bort konto", user_path(@user), data: { confirm: "Är du säker?" }, method: :delete %></p>

<%= link_to "Tillbaka", :back %>
