<div class="container">
  <div class="row">
    <div class="main-content">
      <div class="pane">
        <h1>Glömt lösenord?</h1>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="row">
            <div class="col-sm-6">
              <%= f.label :email %><br>
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>

          <p><%= f.submit "Återställ lösenord" %></p>
        <% end %>
        <p>
          <%= render "devise/shared/links" %>
        </p>
      </div>
    </div>
    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</div>
