<%= render 'header' %>
  <h2 style="color: #f07060;margin-top: -5px;width: 100%;">Bokningsförfrågan för den <%= @booking.date %></h2>
  <p style="width: 100%;">
    <strong>Email:</strong> <%= @booking.email %><br>
    <strong>Namn:</strong> <%= @booking.name %><br>
    <strong>Lägenhetsnummer:</strong> <%= @booking.apartment %><br>
    <strong>Beskrivning:</strong> <%= @booking.description %><br>
    <strong>Pub:</strong> <%= @booking.pub ? "ja" : "nej" %><br>
  </p>
  <p style="width: 100%;">
    Logga in på sidan för att bekräfta <br>
    <%= link_to 'Se bokning', booking_url(@booking) %>
  </p>
<%= render 'footer' %>
