<%= form_for(@news) do |f| %>
<div class="main-content main-form">
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="pane">
      <h3 class="fat"><%= yield(:title) %></h3>
      <div class="row">
        <div class="col-sm-7">
          <%= f.label :title, "Titel" %><br>
          <%= f.text_field :title, :placeholder => 'Titel på nyheten' %><br>
        </div>
        <div class="col-sm-5">
          <%= f.label 'Publicera' %><br>
          <%= f.check_box :published %>
        </div>
      </div>
    </div>
      <div class="pane">
        <div class="field">
          <%= f.label :text, "Text" %><br>
          <%= f.text_area :body, :rows => 10, :placeholder => 'Vad ska din nyhet handla om?' %>
        </div>
      </div>
    <div class="pane">
      <%= render 'layouts/markdown' %>
    </div>
</div>
  <div class="sidebar sidebar-form">
    <div class="pane">
      <h4 class="fat">Spara</h4>
      <p>
        <%= f.submit 'Spara nyhet' %>
      </p>
       <p>
        <%= link_to 'Visa sidan', news_path if @news.id? %>
        <%= link_to 'Gå tillbaka', news_index_path %>
      </p>
    </div>
  </div>
<% end %>
