<div class="container">
  <div class="row">
    <div class="main-content">
      <div class="pane">
        <h1>
          <%= @news.title %>
        </h1>
		<% if (user_signed_in? && user_admin?) %>
		<%= link_to 'Redigera', edit_news_path(@news) %>
    <%= link_to 'Tillbaka', news_index_path %>
		<% end %>
        <h5>Skapad <%= distance_of_time_in_words_to_now(@news.created_at) %> av <%= @news.user.name if @news.user %></h5>

        <div class="page-content news-content">
          <%= GitHub::Markdown.render_gfm(@news.body).html_safe %>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</div>


