<div class="container">
  <div class="row">
    <div class="main-content">
      <div class="pane">
        <h1>
          <%= @drink_type.name %>
          <% if user_signed_in_and_admin? %>
            <small>
              <%= link_to "Redigera", edit_drink_type_path %>
            </small>
          <% end %>
        </h1>
        <%= content_tag :p, @drink_type.description, class: 'lead' unless @drink_type.description.blank? %>
        <p>
          Här visas alla drycker av typen <%= @drink_type.name %> vi någonsin haft inne.
        </p>
        <% @drinks.each do |drink| %>
          <h4>
          <% if @drank.include?(drink.slug)%>
            <i class="fa fa-star" title="Du har druckit denna dryck"></i>
          <% else %>
            <i class="fa fa-star-o" title="Du har inte druckit denna dryck"></i>
          <% end %>
          <%= link_to drink.name, stock_drink_path(@drink_type, drink), title: "Läs mer om drycken" %>
          <%= icon('beer', 'Finns i lager!', title: 'I lager!') if drink.instock? %>
          <small>
            <%= drink.country %>, <%= drink.price.to_i %> kr
          </small>
          </h4>
        <% end %>
      </div>
    </div>
    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</div>
