<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="copyright">
        <h4>
          &copy; Pub Vattentornet
        </h4>
        <h5>
          Norrköpings äldsta studentpub
        </h5>
      </div>
      <div class="links">
        <ul class="list-unstyled">
          <li><%= link_to "Kontakt", pretty_page_path(:id => 'kontakt') %></li>
          <li><%= link_to "Sortiment", stock_index_path %></li>
          <% if user_signed_in? %>
            <% if user_admin? %>
              <li><%= link_to "Admin", "/admin" %></li>
            <% end %>
            <li><%= link_to 'Redigera min profil', edit_user_registration_path %></li>
            <li><%= link_to 'Logga ut', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Logga in', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>
