<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="copyright">
        <h4>
          &copy; Pub Vattentornet
        </h4>
        <h5>
          Norrköpings äldsta studentpub
        </h5>
      </div>
      <div class="links">
        <ul class="list-unstyled">
          <li><%= link_to "Kontakt" %></li>
          <li><%= link_to "Sortiment" %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Edit my profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% if user_admin? %>
              <li><%= link_to 'New User', new_user_registration_path %></li>
              <li><%= link_to 'All users', users_path %></li>
            <% end %>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>
