<header id="main-header" class="transparent">
  <div class="container">
    <nav id="main-nav" role="navigation">
      <div class="menu-left">
        <%= link_to "Sortiment", drinks_path %>
        <%= link_to "Om Puben", about_path %>
      </div>
      <div class="menu-logo">
        <%= link_to image_tag("/images/logo.png", alt: 'Pub Vattentornet'), root_path %>
      </div>
      <div class="menu-right">
        <%= link_to "Boka" %>
        <%= link_to "Kontakt", contact_path %>
      </div>
    </nav>
  </div>
</header>
