<!DOCTYPE html>
<html>
<head>
  <title>Vattentornet - <%= yield(:title) || "Norrköpings äldsta studentpub" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= @bodyclass if defined?(@bodyclass) %>">

<%= render 'layouts/header' %>

<% if (defined?(notice) and !notice.blank?) or (defined?(alert) and !alert.blank?) %>
  <section class="container">
    <p class="notice"> <%= notice %> </p>
    <p class="alert"> <%= alert %> </p>
  </section>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
