<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vattentornet - <%= yield(:title) %><%=  "Studentens andra hem" if yield(:title).blank? %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= yield(:body_class) %>">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= render 'layouts/header' %>

<% if (defined?(notice) and !notice.blank?) or (defined?(alert) and !alert.blank?) %>
  <section class="container">
    <p class="notice"> <%= notice %> </p>
    <p class="alert"> <%= alert %> </p>
  </section>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
